<header>
  <a [routerLink]="['']" class="logo">
    <i class="fa-solid fa-desktop"></i>
    Pc Components</a
  >
  <nav class="navigation">
    <a routerLink="">
      <i class="fa-solid fa-align-justify"></i> POWERED BY ASUS PC BUILDER</a
    >
    <a
      href="https://www.microsoft.com/en-us/software-download/windows11"
      target="_blank"
    >
      <i class="fa-solid fa-cloud-arrow-down"></i> WINDOWS 11 DOWNLOAD</a
    >
    <a href="https://web.whatsapp.com/send?phone=201067721955" target="_blank"
      ><i class="fa-solid fa-phone"></i> NEED HELP?</a
    >
    <a [routerLink]="['admin']" *ngIf="isAdmin"
      ><i class="fa-solid fa-screwdriver-wrench"></i> Admin Tool</a
    >
  </nav>
  <div class="spacer"></div>
  <div>
    <div class="dropdown" *ngIf="userIsAuthenticated">
      <button class="dropbtn">
        <i class="fa-regular fa-user fa-2x"></i>
        <i class="fa-solid fa-caret-down" style="margin-left: 5px"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/wish-list"
          ><i class="fa-solid fa-heart"></i> View Wish List</a
        >
        <a routerLink="/edit/account"
          ><i class="fa-solid fa-pen-to-square"></i> Edit Account</a
        >
        <button
          class="logout-btn"
          (click)="onLogout()"
          *ngIf="userIsAuthenticated"
        >
          Logout <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </div>

  <i class="fa-regular fa-user fa-2x" *ngIf="!userIsAuthenticated"></i>
  <nav class="register d-flex" *ngIf="!userIsAuthenticated">
    <a routerLink="login" *ngIf="!userIsAuthenticated">login</a>
    <a routerLink="register" *ngIf="!userIsAuthenticated">Register</a>
  </nav>
</header>

<div class="second-nav">
  <div class="dropdown-category">
    <button class="dropbtn-category">
      <i class="fa-solid fa-align-justify"></i> CATEGORIES
      <i class="fa-solid fa-caret-down"></i>
    </button>
    <div class="dropdown-content-category">
      <a [routerLink]="['products', 'motherboards']"
        ><i class="fa-solid fa-arrow-right"></i> Motherboard</a
      >
      <a [routerLink]="['products', 'cpu']"
        ><i class="fa-solid fa-arrow-right"></i> Processor</a
      >
      <a [routerLink]="['products', 'ram']"
        ><i class="fa-solid fa-arrow-right"></i> RAM</a
      >
      <a [routerLink]="['products', 'ssd']"
        ><i class="fa-solid fa-arrow-right"></i> SSD</a
      >
      <a [routerLink]="['products', 'hdd']"
        ><i class="fa-solid fa-arrow-right"></i> HDD</a
      >
      <a [routerLink]="['products', 'gpu']"
        ><i class="fa-solid fa-arrow-right"></i> Graphics Card</a
      >
      <a [routerLink]="['products', 'cases']"
        ><i class="fa-solid fa-arrow-right"></i> Cases</a
      >
      <a [routerLink]="['products', 'psu']"
        ><i class="fa-solid fa-arrow-right"></i> Power Supply</a
      >
      <a [routerLink]="['products', 'fans-coolers']"
        ><i class="fa-solid fa-arrow-right"></i> Fans & Coolers</a
      >
      <a [routerLink]="['products', 'monitors']"
        ><i class="fa-solid fa-arrow-right"></i> Monitors</a
      >
      <a [routerLink]="['products', 'accessories']"
        ><i class="fa-solid fa-arrow-right"></i> Accessories</a
      >
    </div>
  </div>

  <div class="dropdown-cart" *ngIf="!isAdmin">
    <button class="dropbtn-cart">
      <i class="fa-solid fa-cart-shopping"></i> My Cart
      <i class="fa-solid fa-caret-down"></i>
    </button>
    <div class="dropdown-content-cart">
      <p class="noItemsInCart" *ngIf="items?.length < 1">
        Your shopping cart is empty!
      </p>

      <div class="card" *ngFor="let item of items">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <div
              [routerLink]="['products', item.brand, item._id]"
              class="card card-img m-2"
            >
              <img src="{{ item.image }}" alt="" class="cart-img" />
            </div>
          </div>
          <div class="col-6">
            <p
              class="cart-name"
              [routerLink]="['products', item.brand, item._id]"
            >
              {{ item.name }}
            </p>
            <p class="cart-qty">X {{ item.qty }}</p>
            <p class="cart-price">{{ item.price * item.qty }} LE</p>
            <button class="cart-delete-btn" (click)="onDeleteFromStock(item)">
              <i class="fa-regular fa-trash-can"></i> Delete
            </button>
          </div>
        </div>
      </div>
      <button *ngIf="items?.length > 0" class="viewcart-btn">View Cart</button>
    </div>
  </div>
</div>
