<div class="container-fluid">
  <form (submit)="onSaveProduct(addform)" #addform="ngForm">
    <div class="row">
      <h1 class="text-center" *ngIf="mode === 'edit'">Edit</h1>
      <h1 class="text-center" *ngIf="mode === 'create'">Create</h1>

      <label>Product Name</label>
      <input type="text" name="name" [ngModel]="product?.name" required />
      <label>Image Url</label>
      <input type="text" name="image" [ngModel]="product?.image" required />
      <label>Product Brand</label>
      <input type="text" name="brand" [ngModel]="product?.brand" required />
      <label>Product Price</label>
      <input type="number" name="price" [ngModel]="product?.price" required />
      <label>Product Type</label>
      <select name="type" [ngModel]="product?.type" required>
        <option value="motherboards">Motherboard</option>
        <option value="cpu">Cpu</option>
        <option value="ram">Ram</option>
        <option value="ssd">SSD</option>
        <option value="hdd">HDD</option>
        <option value="gpu">Gpu</option>
        <option value="case">Case</option>
        <option value="psu">psu</option>
        <option value="fans-cooler">Fans-Cooler</option>
        <option value="monitor">Monitor</option>
        <option value="accessories">Accessories</option>
      </select>
      <label>Product Availability</label>
      <select name="availability" [ngModel]="product?.availability" required>
        <option value="true">In Stock</option>
        <option value="false">Out Of Stock</option>
      </select>
      <button
        *ngIf="mode === 'create'"
        type="submit"
        class="add-btn"
        [disabled]="addform.invalid"
      >
        Add Product
      </button>
      <button
        *ngIf="mode === 'edit'"
        type="submit"
        class="add-btn"
        [disabled]="addform.invalid"
      >
        Edit Product
      </button>
    </div>
  </form>
</div>
