<div class="container-fluid">
  <div class="row">
    <!-- Filter -->
    <div class="col-md-2">
      <div class="filter-card">
        <p class="filter-brand">Brand</p>
        <form (submit)="onFilter(filterForm)" #filterForm="ngForm">
          <div class="checkboxes">
            <div *ngFor="let brand of brandList">
              <input
                type="checkbox"
                class="form-check-input"
                value="{{ brand }}"
                id="{{ brand }}"
                ngModel
                name="{{ brand }}"
              />
              <label class="form-check-label" for="{{ brand }}">{{
                brand
              }}</label>
            </div>
            <hr />
            <p class="filter-price">Price</p>
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1000"
              step="1000"
              min="0"
              max="100000"
              ngModel
              name="price"
              aria-label="units"
            ></mat-slider>
          </div>
          <button type="submit" class="filter-btn">Filter</button>
        </form>
      </div>
    </div>
    <!-- Filter -->
    <!-- CARDS -->
    <div class="col-md-10">
      <div class="row">
        <div class="search-form">
          <input
            type="text"
            class="search-input"
            placeholder="Search"
            [(ngModel)]="search"
          />
        </div>
        <div class="no-products" *ngIf="products?.length < 1">No Products</div>
        <div
          class="col-md-4"
          *ngFor="let product of products | searchFilter: search"
        >
          <div *ngIf="products?.length > 0">
            <div class="card">
              <button
                *ngIf="!isAdmin"
                class="addtowishlist"
                matTooltip="Add To Wish List"
                matTooltipPosition="right"
                (click)="onAddToWishList(product)"
              >
                <i class="fa-solid fa-heart"></i>
              </button>
              <p class="notInStock" *ngIf="!product.availability">
                OUT OF STOCK
              </p>

              <a (click)="showProduct(product._id)">
                <img [src]="product.image" class="card-img-top" alt="..." />

                <div class="card-body">
                  <p class="p-name">{{ product.name }}</p>
                  <p class="p-price">{{ product.price }} LE</p>
                </div>
              </a>

              <button
                class="add-to-cart-button"
                *ngIf="!isAdmin"
                (click)="onAddToCart(product)"
              >
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CARDS -->
  </div>
</div>
