/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

mat-dialog-container {
  background-color: rgb(49, 47, 47) !important;
  max-width: 1000px !important;
  max-height: 600px !important;
}
mat-dialog-container::-webkit-scrollbar {
  display: none;
}
