<div class="container-fluid">
  <div class="row">
    <div class="no-items" *ngIf="wishListItems?.length < 1">
      Your Wish List is Empty
    </div>
    <div class="col-md-3" *ngFor="let item of wishListItems">
      <div *ngIf="wishListItems?.length > 0">
        <div class="card">
          <p class="notInStock" *ngIf="!item.availability">OUT OF STOCK</p>
          <img [src]="item.image" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="p-name">{{ item.name }}</p>
            <p class="p-brand">{{ item.brand }}</p>
            <p class="p-price">{{ item.price }} LE</p>
            <button
              class="add-to-cart-button"
              matTooltip="Add To Cart"
              matTooltipPosition="below"
              (click)="onAddToCart(item)"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button
              class="remove"
              matTooltip="Remove From Wish List"
              matTooltipPosition="below"
              (click)="onRemoveFromWishList(item._id)"
            >
              <i class="fa-solid fa-x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
